.card {
  padding: 10px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  display: flex;
  cursor: move;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.flagContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.extraIndicatorsContainer {
  display: flex;
  align-items: center;
}

.tagsContainer {
  text-align: left;
  padding: 0;
  padding-bottom: 5px;
}

.tagOnCard {
  margin: 5px;
}

.cardNumber {
  text-align: center;
}

.hasDescriptionIcon {
  cursor: pointer;
}
