.card {
  padding: 10px;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  display: flex;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.flagContainer {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
