.column {
  width: 33%;
}

.columnsContainer {
  margin: 10px 10px 0 10px;
}

.columnHeader {
  text-align: left;
  margin-bottom: 10px;
  vertical-align: middle;
}

.cardsContainer {
  height: calc(100vh - 100px);
  padding: 5px;
  border: 1px solid #616161;
  overflow-x: hidden;
  overflow-y: auto;
}

.cardsContainerDraggedOver {
  border: 1px dashed #616161;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:window-inactive {
  background: gray;
}
