.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 55px;
  padding: 3px;
  text-align: center;
}
.topSidebard {
  flex: 1 0 auto;
}

.bottomSidebar {
  flex-shrink: 0;
}

.addBoard {
  padding-top: 20px;
}
